{{template "base" .}}
 
{{define "title"}}New Todo{{end}}
{{define "main"}}
    <h1>Создание новой заметки</h1>
    <div>
    <form action="/newtodo" method="POST">
        <label>Заголовок</label>
        <input type="text" name="title" placeholder="Новая заметка"><br>
        <label>Содержание</label>
        <input type="text" name="content" placeholder="Содержимое заметки..."><br>
        <label>Срок</label>
        <input type="text" name="expires" placeholder="1 день"><br>
        <input type="submit" value="Send">
    </form>
    </div>
{{end}}