{{template "base" .}}
 
{{define "title"}}New Todo{{end}}
{{define "main"}}
    <form>
  <label for="title">Заголовок</label>
  <input type="text" id="title" placeholder="Новая заметка">
</form>
{{end}}