{{template "base" .}}
 
{{define "title"}}Домашняя страницы{{end}}
 
{{define "main"}}
    <h2>Последние заметки</h2>
    <h3><search>
        <form method="get" action="/search">
            <label>Поиск</label>
            <input type="search" name="searchID" placeholder="Введите ID заметки">
            <button>Найти</button>
        </form>
    </search></h3>
    {{if .Todos}}
    <table>
        <tr>
            <th>Заголовок</th>
            <th>Создан</th>
            <th>Истекает</th>
            <th>ID</th>
        </tr>
        {{range .Todos}}
        <tr>
            <td><a href='/todo?id={{.ID}}'>{{.Title}}</a></td>
            <td>{{.FormatCreated}}</td>
            <td>{{.FormatExpires}}</td>
            <td>№{{.ID}}</td>
            <td><a href="/delete?id={{.ID}}">Удалить</a></td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>Здесь ничего нет... пока что!</p>
    {{end}}
{{end}}
