{{template "base" .}}

{{define "title"}}Todo №{{.Todo.ID}}{{end}}

{{define "main"}}
<div class='snippet'>
    <div class='metadata'>
        <strong>{{.Todo.Title}}</strong>
        <span>№{{.Todo.ID}}</span>
    </div>
    <pre><code>{{.Todo.Content}}</code></pre>
    <div class='metadata'>
        <time>Создан: {{.Todo.Created}}</time>
        <time>Срок: {{.Todo.Expires}}</time>
    </div>
</div>
{{end}}